{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    <div class="register-page">
        <div class="form-container">
            <h1>Créer un compte</h1>
            <div class="register-page">
                {{ form_start(form) }}
                {{ form_widget(form._token) }}
                {{ form_widget(form.name) }}
                {{ form_widget(form.email) }}
                {{ form_widget(form.password) }}
                {{ form_widget(form.submit) }}
                <div class="login-link">
                    Déjà inscrit ?   <a href="{{ path('app_login') }}">Connectes-toi ici</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
