{% extends 'base.html.twig' %}

{% block title %}{{ character.name }}{% endblock %}

{% block body %}
    <div class="character-profile">
        <div class="banner"></div>

        <div class="character-menu">
            <a href="#overview">
                <div class="overview">Overview</div>
            </a>
            <a href="#skills">
                <div class="skills">Skills</div>
            </a>
            <a href="#passives">
                <div class="passives">Passives</div>
            </a>
            <a href="#build">
                <div class="build">Build</div>
            </a>
            <a href="#community-build">
                <div class="community-build">Community build</div>
            </a>
            <a href="#showcase">
                <div class="showcase">Showcase</div>
            </a>
        </div>
        <div class="section-recommended-build" id="build">
            <div class="title-header">
                <h3>Recommended Build</h3>
                <div class="blue-bar"></div>
            </div>
            <div class="community-build-box">
                {% for officialBuild in officialBuilds %}
                <ul>
                    <li>{{ officialBuild.name }}</li>
                </ul>
                {% endfor %}
            </div>
        </div>

        <div class="section-community-build"  id="community-build">
            <div class="title-header">
                <h3>Community Build</h3>
                <div class="blue-bar"></div>
            </div>
            <div class="community-build-box">
                <a href="{{ path('community-build-new',  {'id': character.id }) }}">Create a build</a>
                <a href="{{ path('community-build',  {'id': character.id }) }}">See more</a>
            </div>
        </div>

        <h1>{{ character.name }}</h1>
        <ul>
            <li>{{ character.element }}</li>
            <li>{{ character.rarity }}</li>
        </ul>
    </div>

{% endblock %}
