{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block title %} Profil de {{ app.user.name }}{% endblock %}

{% block body %}

    <div class="user-profile">
        {% for message in app.flashes('build-removed-error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}
        <div class="logout"><a href="{{ path('app_logout') }}">Se déconnecter</a></div>
        <div class="section-user-builds" id="test">
            <form id="uid-form">
                <input type="number" maxlength="9" placeholder="Ton UID Genshin" name="uid" id="uid"
                       value="{{ uidNumber }}" }}>
                <input type="submit" value="valider">
            </form>

            <ul id="uidProfile">
                {% if uidProfile[0][0][0] == 1 %}
                    {{ dump(uidProfile) }}

                    {% if uidProfile[0][1][1] == "Data is not public for the user" %}
                        <li>Si vous souhaitez voir les informations liées à votre aventure, veuillez cocher "Public"
                            dans le site hoyolab/genshin
                        </li>
                    {% else %}
                        {% for key, value in uidProfile[0][2][1] %}
                            <li>{{ key }}: {{ value }}</li>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    <li>UID non enregistrés</li> {% endif %}
            </ul>
            <div class="title-header">
                <h3>Mes Builds</h3>
                <div class="blue-bar"></div>
            </div>
            <div class="builds">
                <ul>
                    {% for build in userBuild %}s
                        <li>{{ build[1][0].name }}</li>
                    {% endfor %}
                </ul>
                <a href="{{ path('profile-builds') }}" class="all-builds-detail">Voir tous mes builds</a>
            </div>
        </div>


    </div>
{% endblock %}
