{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block title %} Profil de {{app.user.name }}{% endblock %}

{% block body %}

<div class="user-profile">
    {% for message in app.flashes('build-removed-error') %}
        <div class="alert alert-error">
            {{ message }}
        </div>
    {% endfor %}
    <div class="logout"><a href="{{ path('app_logout') }}">Se déconnecter</a></div>
    <div class="section-user-builds">
        <div class="title-header">
            <h3>Mes Builds</h3>
            <div class="blue-bar"></div>
        </div>
        <div class="builds">
            <ul>
                {% for build in userBuild %}
                    <li>{{ build[1][0].name }}</li>
                {% endfor %}
            </ul>
            <a href="{{ path('profile-builds') }}" class="all-builds-detail">Voir tous mes builds</a>
        </div>
    </div>



</div>
{% endblock %}
